* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .main-big {
    visibility: hidden;
  }
  .main-small {
    visibility: hidden;
  }
  .main {
    position: relative;
  }
  .donate {
    /* position: absolute; */
    bottom: 100%;
    margin: auto;
    top: auto;
    /* right: 2%; */
  }
}

.main {
  background-image: url("./images/main-image.jpg");
  background-repeat: no-repeat;
}

/* .title {
  position: absolute;
  top: 20%;
  bottom: 45%;
  left: 27%;
  font-size: 70px;
  color: blueviolet;
} */
h1 {
  position: absolute;
  top: 20%;
  bottom: 45%;
  left: 27%;
  font-size: 70px;
  color: blueviolet;
}

.main-big {
  position: absolute;
  top: 100%;
  bottom: 45%;
  left: 20%;
  font-size: 30px;
}

.main-small {
  position: absolute;
  top: 107%;
  bottom: 45%;
  left: 75%;
  font-size: 30px;
}

.donate {
  position: absolute;
  top: 115%;
  bottom: 45%;
  left: 44%;
}

.footer {
  padding: 2rem 0;
  background-color: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .footer-inner .social-media {
  color: white;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-inner .social-media i {
  margin: 0 1rem;
}
.footer .footer-inner .social-media i:hover {
  color: lightseagreen;
  scale: 95%;
  transition: 0.5s;
}
.footer .footer-inner .menu ul {
  display: flex;
}
.footer .footer-inner .menu ul li {
  list-style: none;
  padding: 1rem;
}
.footer .footer-inner .menu ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.footer .footer-inner .menu ul li a:hover {
  color: lightseagreen;
  transition: 0.5s;
}
.footer .footer-outer {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  color: white;
  background-color: rgb(59, 58, 58);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  margin-top: 20px;
  margin-left: 670px;
}

.para {
  text-align: center;
}

.cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.card {
  margin-right: 20px;
}

/* @media (max-width: 900px) {
  .nav {
    padding: 20px 10px !important;
  }
  nav ul {
    margin: 0;
    display: inline;
    padding: 50px;
    display: flex;
  }
  nav ul li {
    color: white;
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    flex-grow: 1;
  }

  h1 {
    top: 20%;
    font-size: 60px;
    left: 40%;
  }

  nav .icon {
    display: block;
  }
  nav .ul {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 50px;
    left: -100%;
    background-color: rgb(241, 229, 96);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
  }
  nav .ul li {
    position: relative;
  }
  .active.nav .ul {
    left: 0;
  }
  .active.nav .icon .fa-xmark {
    display: block;
  }
  .active.nav .icon .fa-bars {
    display: none;
  }
} */

/* @media screen and (max-width: 600px) { */
/* .title {
    text-align: center;
    align-items: center;
    font-size: xx-large;
    top: 10%;
  } */

/* h1 {
    top: 15%;
    font-size: 30px;
  } */

/* .donate { */
/* position: absolute; */
/* position: fixed; */

/* top: 20%; */
/* top: auto; */
/* bottom: 45%; */
/* left: 35%; */
/* height: auto; */
/* } */

/* .main-image {
    background-image: url("/images/main-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;
  } */
/* .main-image
  .donate {
    background-image: url("/images/main-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
        position: fixed; */

/* max-width: 100%;
    height: auto; */
/* } */
